[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/OpenZeppelin/openzeppelin-contracts@4.8.3"]
	path = lib/OpenZeppelin/openzeppelin-contracts@4.8.3
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/OpenZeppelin/openzeppelin-contracts-upgradeable@4.8.3"]
	path = lib/OpenZeppelin/openzeppelin-contracts-upgradeable@4.8.3
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
